@import './variables.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  background-color: @background-page;
  color: @text-color;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}